
.env
__pycache__/random_rekt.cpython-39.pyc
__pycache__/demote.cpython-39.pyc
__pycache__/get.cpython-39.pyc
__pycache__/notes.cpython-39.pyc
__pycache__/promote.cpython-39.pyc
__pycache__/save.cpython-39.pyc
*.txt
.vscode/settings.json
*.pyc
*.pyc
__pycache__/delete_note.cpython-39.pyc
